@model Loja.Models.Categoria
@{
    ViewData["Title"] = "Cadastro de Categoria";
}
<h1>Cadastro de Categoria</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Nome"class="form-label"></label>
        <input asp-for="Nome" class="form-control" placeholder="Nome da Categoria">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Slug"class="form-label"></label>
        <input asp-for="Slug" class="form-control" aria-describedby="slugHelp" placeholder="Slug da Categoria">
        <div id="slugHelp" class="form-text">Nome que ficará visível no link da página. Aceito somente letras e traço</div>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoriaPaiId"class="form-label"></label>
        <select asp-for="CategoriaPaiId" class="form-control" asp-items="@ViewBag.Categorias"> 
            <option value="">Selecione</option>
        </select>
        <span asp-validation-for="CategoriaPaiId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button> <a asp-action="Index" class="btn btn-info">Voltar</a>
</form>