@model Loja.Models.Colaborador
@{
    ViewData["Title"] = "Atualização de Colaborador";
}
<h1>Atualização de Colaborador</h1>

<form method="post">
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="Tipo"/>

    <div class="mb-3">
        <label asp-for="Nome"class="form-label"></label>
        <input asp-for="Nome" class="form-control" placeholder="Nome">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email"class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="E-mail">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button> <a asp-action="Index" class="btn btn-info">Voltar</a>
</form>